apiVersion: v1
kind: Service
metadata:
  labels:
    app: ovsc-service{{ service.index }}
  name: ovsc-service{{ service.index }}
spec:
  ports:
  - name: 80-3000
    port: 3000
    protocol: TCP
    targetPort: 3000
  selector:
    app: openvscode{{ service.index }}
  type: ClusterIP